streamlit==1.31.0
sentence-transformers==2.2.2
faiss-cpu==1.13.2
pypdf==3.14.0
python-docx==0.8.11
requests==2.31.0
python-dotenv==1.0.0
reportlab==4.0.0
huggingface-hub==0.16.4
transformers==4.30.2
numpy==1.26.4
torch==2.1.2